@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

:root {
  /* --background: #F9F5EA; */
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}

.rating-stars {
  /* display: flex; */
  /* align-items: center; */
  /* font-size: 24px; */
  color: #ddd; /* Default star color (empty) */
}

.rating-stars .star.filled {
  color: gold; /* Color for filled stars */
}

.rating-text {
  /* margin-left: 8px; */
  /* font-size: 18px; */
  color: #333;
}
